<h2>Find Restaurants</h2>

<p class="form-el">
	<label>1. Current location:</label>
	<a class="input-btn" href="#" id="find-curr-location"><i class="fa fa-location-arrow"></i> Find your location</a>
</p>

<p class="form-el">
	<label>2. Destination:</label>
	<input type="text" id="destination-field" name="destination" placeholder="32 Destination Road, Providence RI">
</p>

<p class="form-el disabled" id="time-options">
	<label>3: When do you want to eat?</label>
	<a class="time-btn left" href="#/results" data-time="0">Now</a>
	<a class="time-btn" href="#/results" data-time="30">30 mins</a>
	<a class="time-btn left" href="#/results" data-time="60">1 hour</a>
	<a class="time-btn" href="#/results" data-time="120">2 hours</a>
</div>