<h2>Find Restaurants</h2>

<p class="form-el">
	<label>Current location:</label>
	<a class="input-btn" href="#" id="find-curr-location"><i class="fa fa-location-arrow"></i> Find</a>
</p>

<p class="form-el">
	<label>Where are you going?</label>
	<input type="text" name="destination" placeholder="32 Destination Road, Providence RI">
</p>

<p class="form-el" id="time-options">
	<label>When do you want to eat?</label>
	<a class="time-btn left" href="#/results" data-time="0">Now</a>
	<a class="time-btn" href="#/results" data-time="30">30 mins</a>
	<a class="time-btn left" href="#/results" data-time="60">1 hour</a>
	<a class="time-btn" href="#/results" data-time="120">2 hours</a>
</div>