html, body {
	height: 100%;
}

.full-height {
	min-height: 100%;
	height: 100%;
}

#main-wrapper {
	overflow-y: scroll;

	min-height: -moz-calc(100% - 50px);
	min-height: -webkit-calc(100% - 50px);
	min-height: calc(100% - 50px);

	height: -moz-calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	height: calc(100% - 50px);
}

div#sort-box.affix {
	top: 50px;

	width: -moz-calc(33% - 30px);
	width: -webkit-calc(33% - 30px);
	width: calc(33% - 30px);
}