html, body {
	height: 100%;
}

.full-height {
	min-height: 100%;
	height: 100%;
}

.header-row {
	z-index: 9999;
	position: relative;
}

.desktop .gui {
	border-right: 1px solid #7f8c8d;
}

.desktop ol.restaurant-list img.media-object {
	width: 60px;
	height: 60px;
}

.desktop ol.restaurant-list h3 {
	font-size: 20px;
}

.desktop ol.restaurant-list .stars {
	font-size: 14px;
}

.desktop #main-wrapper {
	z-index: 1;
	overflow-x: hidden;
	overflow-y: scroll;

	min-height: -moz-calc(100% - 50px);
	min-height: -webkit-calc(100% - 50px);
	min-height: calc(100% - 50px);

	height: -moz-calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	height: calc(100% - 50px);
}

.desktop div#sort-box.affix {
	position: fixed;
	top: 50px;

	width: -moz-calc(33.33% - 30px);
	width: -webkit-calc(33.33% - 30px);
	width: calc(33.33% - 30px);
}