<a href="#" class="new-button no-click"><i class="fa fa-plus-circle"></i> New Guide</a>

<div id="new-guide-form">
	<a href="#" class="hide-form no-click"><i class="fa fa-times-circle"></i> Close</a>
	<h2 class="center-title"><span>Create a new Study Guide</span></h2>
	<form id="new-guide" method="post" autocomplete="off" novalidate>
		<p class="input name">
			<input type="text" name="name" class="guide-name" placeholder="Name" />
		</p>
		
		<ol id="sections-list" class="sortable">
		</ol>

		<a href="#" id="new-section" class="no-click">Add Section</a>
		<input type="submit" value="Save"></input>
	</form>
</div>