/*
Title: Screen Styles
Author: max@luzuriaga.com
*/

/* ---------------------------------------------------------------------------------------
   Reset
   --------------------------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
nav ul { list-style: none; }
ul { list-style-type: square; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, q:before { content: '"'; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
html { -webkit-font-smoothing: antialiased; }
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input, select { vertical-align: middle; }
textarea { overflow: auto; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
button, input, select, textarea { margin: 0; }
time { display: block; }

/* ---------------------------------------------------------------------------------------
   Main
   --------------------------------------------------------------------------------------- */

body {
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
	/*padding: 50px 0 0 0;*/
	/*height: 900px;*/
}

a, a:visited {
	text-decoration: none;
	color: inherit;
}

header {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 98%, rgba(0,0,0,0.05) 99%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0.05)), color-stop(99%,rgba(0,0,0,0.05)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%); 
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%); 
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0d000000',GradientType=0 );

	/*position: fixed;*/
	/*top: 0;*/
	z-index: 5000;

	width: 100%;
	background-color: #1abc9c;
	border-bottom: 1px solid #999;
	font-size: 1.2em;
	color: white;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

header h1 {
	float: left;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

header h1 > a {
	padding: 15px 20px 15px 20px;
}

header h1 a, header h1 a:visited, header .user-control {
	display: block;
	vertical-align: middle;
	color: white;
	height: 100%;
}

#main-wrapper {
	/*width: 300px;*/
	padding: 20px;
}

h2 {
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: 17px;
}

h2 > span {
	padding: 0 1px 3px 1px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

h2.center-title {
	text-align: center;
}

em.distance {
	color: black;
	font-weight: bold;
}

/* ---------------------------------------------------------------------------------------
   Search Form
   --------------------------------------------------------------------------------------- */

.form-el {
	margin-bottom: 15px;
}

a.input-btn {
	display: inline-block;
	width: 100%;
	text-align: center;
	background: #e67e22;
	color: white;
	padding: 10px 0;
	font-size: 16px;
	border: 1px solid #d35400;
	border-radius: 5px;
	font-weight: bold;
}

a#find-curr-location.loc-found {
	background: white;
	border-radius: 0;
	border-color: #bdc3c7;
	color: #7f8c8d;
	font-weight: normal;
}

input[type=text] {
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 1px solid #bdc3c7;
	-webkit-appearance:none;
	border-radius: 0;
	font-size: 16px;
	padding: 10px;

	width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
}

input[type=text]:focus {
	border-color: #3498db;
	box-shadow: 0 0 5px rgba(52, 152, 219, 0.6);
}

.form-el label {
	display: block;
	color: #34495e;
	font-size: 16px;
	margin-bottom: 7px;
}

#time-options.disabled a.time-btn {
	pointer-events: none;
	background: #ecf0f1;
	border-color: #bdc3c7;
	color: #bdc3c7;
}

a.time-btn {
	display: block;
	background: #3498db;
	border: 1px solid #2980b9;
	color: white;
	border-radius: 5px;

	margin-bottom: 4px;
	float: right;
	font-weight: bold;
	font-size: 18px;
	text-align: center;

	padding: 15px 10px;

	width: -moz-calc(50% - 24px);
    width: -webkit-calc(50% - 24px);
    width: calc(50% - 24px);
}

.time-btn.left {
	float: left;
}

/* ---------------------------------------------------------------------------------------
   List view
   --------------------------------------------------------------------------------------- */

ol.restaurant-list {
	list-style-type: none;
}

ol.restaurant-list li {
	border-bottom: 1px solid #bdc3c7;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

ol.restaurant-list p.name {
	font-size: 20px;
	margin-bottom: 10px;
}

address {
	font-size: 14px;
	color: #7f8c8d;
}

ol.restaurant-list .right {
	float: right;
	padding-top: 27px;
}

ol.restaurant-list em.distance {
	font-size: 18px;
	padding-top: 13px;
}

ol.restaurant-list .stars {
	margin-top: 5px;
}

.stars {
	padding-top: 3px;
	color: #f1c40f;
}

/* ---------------------------------------------------------------------------------------
   Details View
   --------------------------------------------------------------------------------------- */

.details h2 {
	line-height: 1.3em;
	margin-bottom: 5px;
}

.details .stars {
	margin-top: 5px;
	font-size: 22px;
	text-align: center;
}

.details address {
	font-size: 16px;
	line-height: 1.5em;
}

.details em.distance {
	border-left: 2px solid #7f8c8d;
	padding-left: 10px;
	margin-left: 3px;
}

.details h3 {
	color: #2c3e50;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.reviews {
	padding: 13px 0;
	margin: 10px 0;

	border-top: 1px solid #bdc3c7;
}

.review .text {
	line-height: 1.5em;
}

.review .text a {
	color: #3498db;
	text-decoration: underline;
}

.review .author {
	font-style: italic;
	text-align: right;
}

.directions-container {
	text-align: center;
}

.directions-btn, .directions-btn:visited {
	display: inline-block;
	font-weight: bold;
	font-size: 22px;
	padding: 15px;
	background: #e74c3c;
	border-radius: 10px;
	color: white;
}

/* ---------------------------------------------------------------------------------------
   Misc.
   --------------------------------------------------------------------------------------- */

a.unclickable {
   pointer-events: none;
   cursor: default;
}

span.caret {
	display: inline-block;;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.group:before, .group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.group:after { clear: both; }
.group { zoom: 1; }