<article class="details">
	<img class="restaurant-img" src="<%= restaurant.get('image_url') %>" />

	<h2><%= restaurant.get('name') %></h2>
	<address><%= restaurant.get('address') %></address>
	<p class="stars">
	<% 	var halfStars = Math.round(restaurant.get('rating')*2)/2;
		var totalStars = Math.ceil(restaurant.get('rating'));
		for (var s = 1; s <= totalStars; s++) {
			if (s <= halfStars) { %>
				<i class="fa fa-star"></i>
			<% } else { %>
				<i class="fa fa-star-half-o"></i>
			<% }
		}

		for (var s = totalStars + 1; s <= 5; s++) { %>
			<i class="fa fa-star-o"></i>
		<% } %>

		<% if (currentLoc != null) { %>
			<em class="distance"> <%= _distanceBetweenLatLngs(currentLoc, restaurant.get('latLng')) %> mi</em>
		<% } %>
	</p>

	<% if (restaurant.get('reviews') && restaurant.get('reviews').length > 0) { %>
		<div class="reviews">
			<h3>Reviews:</h3>

			<% restaurant.get('reviews').forEach(function(review) { %>
				<div class="review">
					<p class="text">"<%= review.excerpt %>" <a href="<%= restaurant.reviewUrl(review.id) %>" target="_blank">Read more</a></p>
					<p class="author">— <%= review.userName %></p>
				</div>
			<% }); %>
		</div>
	<% } %>

	<p class="directions-container"><a class="directions-btn" href="<%= restaurant.googleMapsUrl() %>"><i class="fa fa-map-marker"></i> Get Directions</a></p>
</article>