/*
Title: Screen Styles
Author: max@luzuriaga.com
*/

/* ---------------------------------------------------------------------------------------
   Reset
   --------------------------------------------------------------------------------------- */

/*html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
nav ul { list-style: none; }
ul { list-style-type: square; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, q:before { content: '"'; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
html { -webkit-font-smoothing: antialiased; }
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input, select { vertical-align: middle; }
textarea { overflow: auto; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
button, input, select, textarea { margin: 0; }
time { display: block; }*/

/* ---------------------------------------------------------------------------------------
   Main
   --------------------------------------------------------------------------------------- */

body {
	background-color: white;
	font-family: Helvetica, Arial, sans-serif;
	/*padding: 50px 0 0 0;*/
}

a, a:visited {
	/*text-decoration: none !important;*/
}

header {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 98%, rgba(0,0,0,0.05) 99%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0.05)), color-stop(99%,rgba(0,0,0,0.05)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%); 
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%); 
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 98%,rgba(0,0,0,0.05) 99%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0d000000',GradientType=0 );

	z-index: 5000;

	width: 100%;
	background-color: #1abc9c;
	border-bottom: 1px solid #999;
	font-size: 1.2em;
	color: white;
	box-shadow: 0 0 2px rgba(0,0,0,0.4);
	padding: 0 20px;
}

header h1 {
	font-size: 18px;
	margin: 0;
	display: block;
	/*float: left;*/
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

header h1 > a {
	padding: 15px 20px 15px 0;
	text-decoration: none !important;
}

header h1 > a, header h1 > a:visited, header .user-control {
	display: block;
	vertical-align: middle;
	color: white;
	height: 100%;
}

#back-btn {
	float: left;
	position: absolute;
	top: 8px;
	color: white;
	background: rgba(255,255,255,0.4);
	border: none;
}

#main-wrapper {
	/*padding-top: 20px;*/
}

h2 {
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: 17px;
}

h2 > span {
	padding: 0 1px 3px 1px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

h2.center-title {
	text-align: center;
}

em.distance {
	color: black;
	font-weight: bold;
}

/* ---------------------------------------------------------------------------------------
   Search Form
   --------------------------------------------------------------------------------------- */

.form-el {
	margin-bottom: 15px;
}

input[type=text] {
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 1px solid #bdc3c7;
	-webkit-appearance:none;
	font-size: 16px;
	padding: 10px;

	width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
}

input[type=text]:focus {
	border-color: #3498db;
	box-shadow: 0 0 5px rgba(52, 152, 219, 0.6);
}

#time-options.disabled a.btn {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.65;
}

.loading {
	margin-top: 20px;
	text-align: center;
	color: #7f8c8d;
	font-size: 60px;
}

/* ---------------------------------------------------------------------------------------
   List view
   --------------------------------------------------------------------------------------- */

ol.restaurant-list {
	list-style-type: none;
}

ol.restaurant-list li {
	border-bottom: 1px solid #bdc3c7;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

ol.restaurant-list p.name {
	font-size: 20px;
	margin-bottom: 10px;
}

address {
	font-size: 14px;
	color: #7f8c8d;
}

ol.restaurant-list .right {
	float: right;
	padding-top: 27px;
}

ol.restaurant-list em.distance {
	font-size: 18px;
	padding-top: 13px;
}

ol.restaurant-list .stars {
	margin-top: 5px;
}

.stars {
	padding-top: 3px;
	color: #f1c40f;
}

/* ---------------------------------------------------------------------------------------
   Details View
   --------------------------------------------------------------------------------------- */

.details img.restaurant-img {
	width: 83px;
	height: 83px;
	margin-left: 5px;
	border-radius: 3px;
	float: right;
}

.details img.media-object {
	width: 80px;
	height: 80px;
}

.details h2 {
	margin-bottom: 5px;
	margin-top: 0;
}

.details .media {
	margin-top: 20px;
}

.details .stars {
	font-size: 22px;
	margin-bottom: 0;
}

.details address {
	margin-bottom: 0;
	font-size: 16px;
}

.details em.distance {
	border-left: 2px solid #7f8c8d;
	padding-left: 10px;
	margin-left: 3px;
}
.btn-container {
	text-align: center;
}

/* ---------------------------------------------------------------------------------------
   Misc.
   --------------------------------------------------------------------------------------- */

a.unclickable {
   pointer-events: none;
   cursor: default;
}

span.caret {
	display: inline-block;;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.group:before, .group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.group:after { clear: both; }
.group { zoom: 1; }